<h1>Redes sociales más usadas</h1>
<hr />

<div
  *ngif="doughnutChartData.datasets.length === 0; else divGrafica"
  class="alert alert-info"
>
  Cargando datos...
</div>

<ng-template #divGrafica class="w-50">
  <div class="row">
    <div class="col">
      <div style="display: block">
        <canvas baseChart [data]="doughnutChartData" [type]="doughnutChartType">
        </canvas>
      </div>
    </div>
  </div>
  <span class="float-end text-primary">Información en billones de usuarios</span>
</ng-template>
